body{
    Margin:0;
    padding:0;
}

td{
    padding:0;
}

img{
    border:0;
}
.outer{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;
}

.three-columns{
    text-align: center;
    font-size: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    

}

.three-columns .column{
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}

.padding{
    padding: 15px;
    
    
    
}

.three-columns .content{
    font-size: 12px;
    line-height: 20px;
    
    text-align: center;
    

}

.two-columns{
    
    font-size: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 60px;
    
    
    

}

.two-columns .column{
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}

.two-columns .content{
    font-size: 15px;
    line-height: 20px;
    
    

}

.one-columns{
    
    font-size: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 60px;
    
    
    

}

.one-columns .column{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.one-columns .content{
    font-size: 15px;
    line-height: 20px;
    
    
    

}
.five-columns{
    
    font-size: 0;
    padding-top: 20px;
    
    
    
    

}

.five-columns .column{
    width: 100%;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.five-columns .content{
    font-size: 15px;
    line-height: 20px;
    
    
    

}
.five-columns .content1{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 100px;
    width: max-content;

}



.main-columns{
    text-align: center;
    font-size: 0;
    
    

    
    

}
.img-center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
}

.main-columns .column{
    width: 100%;
    
    display: inline-block;
    vertical-align: top;
}
.main-columns .content{
    font-size: 15px;
    line-height: 20px;
    

}
.main-columns a:hover{
    background-color: rgb(8, 151, 187);
    text-decoration: none;
    
}
.last-columns{
    
    font-size: 0;
    padding-top: 10px;
    
    padding-left: 60px;
    
    
    

}

.last-columns .column{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.last-columns .content{
    font-size: 15px;
    line-height: 20px;
    
    
    

}


@media screen and (max-width:600px){

}
@media screen and (max-width:400px){
    
}